html,
body {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
}

.p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

li {
    text-decoration: none;
    list-style-type: none;
}

.container {
    background-color: black;
    padding: 0;
}

.gg-navbar {
    background-color: rgba(0, 0, 0, .55);
    font-family: serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .54);
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif;
}

.gg-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.gg-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: white;
}

.btn-order {
    color: white;
    border-color: white;
    transition: 0.5s;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-order:hover,
.btn-order:active {
    color: black;
    background-color: white;
    ;
}

.carouselText {
    padding-bottom: 120px !important;
    text-shadow: 2px 2px 2px black;
    font-size: 1.2em;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 2px 2px 2px grey;
}

.btn-buy {
    color: white;
    border-color: white;
    transition: 0.5s;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-buy:hover,
.btn-buy:active {
    color: black;
    background-color: white;
    ;
}

.about {
    text-align: center;
}

a {
    color: grey;
}

.description-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.gif {
    width: 400px;
    height: 200px;
}

.card-body {
    border-radius: 5px;
}

.linkSite {
    transition: 0.5s;
    opacity: 0%;
    text-shadow: 2px 2px 2px black;
    font-size: 30px
}

.linkSite:hover {
    opacity: 100%;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;

}

.profil {
    margin: 0 auto;
    display: block;
}

.need {
    text-align: center;
}

.need2 {
    text-align: center;
}

.text {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-size: 2em !important;
    padding-top: 2px !important;
}

h5 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 2px 2px 2px grey;
}

.textContact {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
}

.card-title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px 1px grey;
    font-weight: bolder;
    font-size: 3em;
}

.card-text {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px 2px grey;
}

#description {
    scroll-margin-top: 55px;
}