html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    background-color: black;
    padding: 0;
}


.gg-navbar {
    background-color: rgba(0, 0, 0, .55);
    font-family: serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .54);
    z-index: 1;
}

.gg-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.gg-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
}

.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-teal);
    ;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.introduction {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px white;
}

.image-text {
    display: flex;
    align-items: center;
}

.thetext {
    display: flex;
    align-items: center;
}

.trust-panel {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background-size: cover;
    padding: 40px 0;
}

.text {
    color: white;
    text-align: center;
}

.trust-panel .container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.trust-panel .container-fluid .feature {
    display: flex;
    align-items: center;
}

.trust-panel .container-fluid .feature .text {
    line-height: 25px;
}

.trust-panel .container-fluid .feature .text .maintext {
    font-size: 23px;
    font-weight: 700;
}

.trust-panel .container-fluid .feature .text .subtext {
    color: light;
}

svg .icon {
    justify-content: center;
}

.spacer {
    background-color: white;
    width: 1px;
    height: 70px;
    padding-left: 2px;
}

.panels {
    background-color: grey;
    height: 98.5vh;
    width: 98.5vw;

    display: flex;
}

.panel {
    height: 100%;
    flex: 1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.7s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.panel:hover {
    flex: 3;
}

.hollow2 {
    background-image: url(../img/hsilksong.jpeg);
}

.hades2 {
    background-image: url(../img/hades2.jpeg);
}

.ori3 {
    background-image: url(../img/ori3.jpeg);
}

.mage {
    background-image: url(../img/mage.avif);
}

.tendance {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 4em;
}

.bestsell {
    color: white;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
}

.videohollow {
    display: grid;
    justify-content: center;
    align-items: center;
}

h5 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    padding-bottom: 5px;
    padding-top: 5px;
}

.yasuo {
    width: 100%;
    object-fit: cover;
}